{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}

{% block content %}
<style>
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
</style>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1>Welcome, {{ current_user.username }}!</h1>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="container content-container">
    {% if user_type == "player" %}
    <a href="{{ url_for('predict_page') }}" class="btn btn-primary">Predict your roles</a>
    {% endif %}

    {% if user_type == "employer" %}
    <a href="{{ url_for('find_player_page') }}" class="btn btn-primary">Find Players</a>
    {% endif %}

</div>
{% endblock %}