{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}
<style>
    .full-height {
        height: 100vh;
    }
</style>
<div class="container full-height">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center full-height">
            <div>
                <a href="{{ url_for('register_player') }}" class="btn btn-primary mr-3">Register as Player</a>
                <a href="{{ url_for('register_employer') }}" class="btn btn-primary">Register as Employer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}